body{
    width: 100%;
}
nav{
    background-color: rgba(85, 39, 16,0.9);
}
.nav-item>a{
    text-decoration: none;
   
    font-size: 1.3em;
    color:  #E4B59D;
}
.nav-item>a:hover{
    color:white;
}
li{
    padding-left: 25px;
}
  @media(min-width:1000px){
    #conteudoNavbarSuportado{
        position: relative;
        left: 10%;
    }
  }
 body{
     background-color: rgba(142, 175, 93,0.7);
 }
  